* {
    padding: 0;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background-color: var(--color-background);
    color: var(--color-text);
    transition: background-color 0.3s ease, color 0.3s ease;
    text-rendering: optimizeLegibility; /* Melhora a legibilidade e suaviza as fontes */
}

html {
    scroll-behavior: smooth;
    font-smoothing: antialiased; /* Para navegadores como o Safari */
}

:root {
    --color-blue: #007bff;
    --color-black: #000000;
    --color-white: #ffffff;
    --color-background: black;
    --color-text: white;
}

html:lang(pt) ul li a {
    font-size: 12px; /* tamanho reduzido para traduções */
}

.light-theme {
    --color-background: white;
    --color-text: black;
}
/* Tema Escuro */
.dark-theme {
    --color-background: black;
    --color-text: white;
}

/* Ícones SVG */
.icon-theme path {
    fill: var(--color-text); /* A cor do ícone será a cor do texto do tema */
}

/* Outros estilos para o SVG, caso necessário */
.icon-theme svg {
    transition: fill 0.3s ease; /* Adiciona uma transição suave para a mudança de cor */
}


#menu-container {
    display: flex;
    align-items: center;
    background-color: var(--color-background);
    height: 5vh;
    justify-content: space-between;
    justify-content: center;
}

#menu {
    display: flex;
    gap: 50px;
    justify-content: center;
    flex-grow: 1;
    list-style-type: none;
    margin: 0;
    height: 5dvh;
    align-items: center;
    position: absolute;
    margin-top: 0;
}

#menu li a {
    text-decoration: none;
    color: var(--color-text);
    font-family: "Sora", sans-serif;
    font-size: 14px;
}

#menu li a:hover {
    color: var(--color-blue);
    transition: 0.4s ease-in-out;
}

#themeToggleContainer {
    position: relative;
    width: 60px;
    height: 30px;
    border-radius: 20px;
    background-color: var(--color-text);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: auto;
    margin-right: 150px;
}
.light-them {
    margin-right: 150px;
}

#themeToggle {
    position: absolute;
    width: 28px;
    height: 26px;
    border-radius: 50%;
    border: 1px solid transparent;
    background-color: white;
    left: 2px;
    transition: left 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

#themeToggle .icon-sun,
#themeToggle .icon-moon {
    font-size: 18px;
    display: none;
}

#themeToggleContainer.light-theme {
    background-color: white;
}

#themeToggleContainer.light-theme #themeToggle {
    left: 30px;
}

#themeToggleContainer.light-theme .icon-sun {
    display: block;
}

#themeToggleContainer .icon-moon {
    display: block;
}

#container h1 {
    margin-top: 30px;
    font-family: "Sora", sans-serif;
    font-size: 20px;
    text-align: center;
    font-weight: 500;
}

.content {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    margin-top: 20px;
    width: 100%;
    height: 370px;
    align-items: center;
}
#container img {
    width: 350px;
    border-radius: 50%;
    margin-left: 200px;
}
/* Inicializa as imagens, mostrando a imagem mobile por padrão */
.desktop-img {
    display: none;
}
.mobile-img {
    display: block;
}

/* Quando o tema for escuro (dark), mostramos a imagem mobile e escondemos a desktop */
.dark-theme .desktop-img {
    display: none;
}
.dark-theme .mobile-img {
    display: block;
}

/* Quando o tema for claro (light), mostramos a imagem desktop e escondemos a mobile */
.light-theme .desktop-img {
    display: block;
}
.light-theme .mobile-img {
    display: none;
}


  

.content span {
    margin-top: 20px;
    font-family: "Sora", sans-serif;
    font-size: 14px;
    width: 50%;
    font-weight: 200;
}

#container span {
    display: block;
    margin-left: 60px;
}

#container-options {
    width: 100%;
    height: 250px;
    margin-top: 10px;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}
#options {
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
}
.options-card {
    display: grid;
    justify-items: center;
    align-items: center;
    text-align: center;
    width: 200px;
    height: 200px;
}

.options-card a {
    width: 150px;
    height: 30px;
    background-color: rgb(3, 161, 3);
    margin-top: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family: "Sora", sans-serif;
    font-size: 12px;
    transition: 0.4s ease;
    color: white;
}

.options-card a:hover {
    text-decoration: underline;
    background-color: green;
}
.options-card span {
    font-size: 11px;
    padding: 10px;
    font-family: "Sora", sans-serif;
}

#container-options h1 {
    text-align: center;
    font-family: "Sora", sans-serif;
    font-size: 17px;
}
.grid2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    margin-bottom: 15px;
}
.box-grid {
    display: flex;
}

/* Modal */
.modal {
    display: none; /* Inicialmente escondido */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 500px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    position: relative; /* Necessário para posicionar o botão de fechar */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  .text-container {
    display: flex;
    flex-direction: column;
    letter-spacing: normal;
    hyphens: auto;
  }
  .modal-content img {
    width: 150px;
    height: 250px;
    margin-right: 15px;
  }
  
  .modal-content h2 {
    margin-bottom: 10px;
    font-size: 18px;
    font-family: "Sora", sans-serif;
    color: black;
  }
  .modal-content p {
    font-family: "Sora", sans-serif;
    font-size: 14px;
    color: black;
  }
  .btnModal {
    width: 60%;
    height: auto;
    display: flex;
    justify-content: center;
    gap: 20px;
    position: absolute;
    bottom: 20px;
  }
  .btnCancel {
    background-color: white;
    color: black;
    font-size: 12px;
    border: 1px solid black;
    width: 100px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family: "Sora", sans-serif;
  }
  .btn {
    width: 100px;
    height: 30px;
    color: white;
    border: 1px solid transparent;
    border-radius: 1px;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family: "Sora", sans-serif;
    font-size: 12px;
    transition: 0.3s ease-in-out;
  }
  .btn:hover {
    box-shadow: 0px 2px 8px 0px rgba(60, 64, 67, 0.25);
    background-color: rgb(1, 104, 1);
  }
  
  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    color: #000000;
    border: none;
    font-size: 20px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
  }
  
  .close-btn:hover {
    color: red;
  }

.titleMaps {
    width: 100%;
    height: auto;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-family: "Sora", sans-serif;
    font-size: 12px;
    margin-top: 30px;
    margin-bottom: 10px;
    color: var(--color-text);
}
.titleMaps h1 {
    font-weight: 500;
}

.googleMaps {
    margin-top: 15px;
    height: 50vh;
    width: 100%;
    border: transparent;
    
    box-shadow: 0px 7px 7px 0px rgba(192, 192, 192, 0.603);
}

/* Estilo para o modal */
.modalupgrade {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: none; /* O modal ficará escondido inicialmente */
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.modalupgradebox {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
    height: 380px;
}
.modalupgradebox h2 {
    font-family: "Sora", sans-serif;
    font-size: 17px;
    margin-bottom: 15px;
}
.modalupgradebox p {
    font-family: "Sora", sans-serif;
    font-size: 13px;
    hyphens: auto;
    text-align: justify;
    word-spacing: normal;
    letter-spacing: normal;
    margin-bottom: 15px;
}

#update-btn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#update-btn:hover {
    background-color: #45a049;
}

/* Modal de Carregamento */
.loading-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Fundo semitransparente */
    display: none; /* Inicialmente invisível */
    justify-content: center;
    align-items: center;
    color: white;
    z-index: 9999; /* Garantir que o modal fique acima de outros elementos */
}

.loading-box {
    text-align: center;
    padding: 20px;
    background-color: white; /* Fundo escuro para melhor contraste */
    border-radius: 10px;
    width: 80%;
    max-width: 400px;
    color: black;
    font-family: "Sora", sans-serif;
}

.loading-box h2 {
    font-size: 20px;
}

#loading-steps p {
    margin: 10px 0;
    font-size: 14px;
    line-height: 10px;
}

.progress {
    padding-left: 5px; /* Pequeno espaço à esquerda */
    display: inline-block; /* Isso ajuda a manter o layout consistente */
    min-width: 40px; /* Ajuste o valor conforme necessário */
    text-align: right; /* Alinha o texto à direita */
}
.progress-success {
    color: green; /* Define a cor verde */
    font-weight: 600;
}


#loading-progress {
    font-size: 15px;
}

.success {
    color: #4CAF50; /* Cor verde para sucesso */
    margin-left: 10px;
}

#progress-percentage {
    font-weight: bold;
}






#privacy {
    width: 100%;
    justify-content: center;
    display: flex;
}

#privacy img {
    width: 100px;
    height: 100px;
    margin-left: 150px;
    margin-top: 20px;
    display: none;
}
.map-page {
    margin-top: 20px;
    margin-left: 50px;
}
.map-page h3 {
    font-size: 14px;
    margin-bottom: 10px;
    font-family: "Sora", sans-serif;
    color: var(--color-text);
}
.map-page a {
    color: var(--color-text);
    font-family: "Sora", sans-serif;
    font-size: 11px;
    display: flex;
    margin-bottom: 10px;
    text-decoration: none;
    width: 45px;
    position: relative;
    width: fit-content;
}
.map-page a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    background-color: var(--color-text); 
    width: 0;
    transition: width 0.5s ease;
}
.map-page a:hover::after {
    width: 100%;
}
.support {
    margin-top: 20px;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
}
.support h3 {
    font-size: 14px;
    margin-bottom: 10px;
    font-family: "Sora", sans-serif;
    color: var(--color-text);
}
.support a {
    color: var(--color-text);
    font-family: "Sora", sans-serif;
    font-size: 11px;
    display: inline-block; 
    margin-bottom: 10px;
    text-decoration: none;
    position: relative;
    width: fit-content;
}

.support a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    background-color: var(--color-text); 
    width: 0;
    transition: width 0.5s ease;
}

.support a:hover::after {
    width: 100%;
}

.redes-sociais {
    margin-top: 20px;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.redes-sociais h3 {
    font-size: 14px;
    font-family: "Sora", sans-serif;
    color: var(--color-text);
}
.redes-sociais a {
    color: var(--color-text);
    font-family: "Sora", sans-serif;
    font-size: 11px;
    text-decoration: none !important; 
    position: relative;
    display: inline-block;
}

.redes-sociais a:hover {
    text-decoration: none !important;
}

.redes-sociais a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    background-color: var(--color-text); 
    width: 0;
    transition: width 0.5s ease;
}

.redes-sociais a:hover::after {
    width: 100%;
}

.privacy-terms {
    margin-top: 20px;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.privacy-terms h3 {
    font-size: 14px;
    font-family: "Sora", sans-serif;
    color: var(--color-text);
}
.privacy-terms a {
    color: var(--color-text);
    font-family: "Sora", sans-serif;
    font-size: 11px;
    display: inline-block;
    text-decoration: none;
    width: 90px;
    position: relative;
    width: fit-content;
}

.privacy-terms a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    background-color: var(--color-text); 
    width: 0;
    transition: width 0.5s ease;
}

.privacy-terms a:hover::after {
    width: 100%;
}
.redes-sociais a:hover {
    text-decoration: underline;
}
.create-by {
    width: 100%;
    height: 15px;
    bottom: 0;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.create-by p {
    font-size: 10px;
    color: var(--color-text);
    font-family: "Sora", sans-serif;
}





@media screen and (min-width: 321px) and (max-width: 430px) {
    body { 
        overflow-x: hidden;
        color: var(--color-text);
        transition: none;
    }
    a, #menu li a {
        color: var(--color-text);
    }

    #menu { 
        width: 100vw;
        gap: 10px; 
        display: flex;
        position: relative;
        text-align: center;
    }
    #menu li a:hover, #menu li a:active {
        color: var(--color-text);
        background-color: transparent;
    }
    #menu-container {
        display: flex; 
        width: 100%;
        height: auto;
        flex-direction: column;
        margin-top: 15px;
    }
    #themeToggleContainer {
        margin-top: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        margin-top: 10px;
    }
    #container-options {
        display: flex;
        width: 100%;
        height: auto;
    }
    #options {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        margin-top: 15px;
    }
    .options-card {
        margin-bottom: 10px;
    }
    .grid2 {
        flex-basis: 100%;
    }
    .modal-content {
        width: 85%;
    }
    .btnModal {
        width: 50%;
    }
    .text-container {
        hyphens: auto;
        letter-spacing: normal;
        word-spacing: normal;
        word-wrap: break-word;
    }
    .options-card a:hover {
        text-decoration: none;
        background-color: rgb(3, 161, 3);
    }
    #container {
        width: 100%;
    }
    #container img {
        width: 150px;
        height: 150px;
        box-shadow: 0px 0px 40px 0px black;
        animation: pulsar 5s infinite;
        float: left;
        margin-left: 0;
        margin-top: 20px;
    }
    #container span {
        margin-left: 0px;
        text-align: justify;
        font-size: 12px;
        margin-top: 40px;
        letter-spacing: 1px;
        hyphens: auto;
        word-break: break-word;
    }
    
    .content {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
    }
    
    .content span {
        width: 90%;
    }
    #privacy {
        width: 100%;
        height: auto;
        gap: 20px;
    }
    #privacy img {
        width: 50px;
        height: 50px;
        margin-left: 0px;
        display: flex;
        justify-content: center;
        display: none;
    }
    .my-logo {
        margin-left: 0px;
    }
    .map-page {
        margin-left: 0px;
        display: none;
    }
    .support {
        margin-left: 0;
    }
    .support h3 {
        font-size: 12px;
    }
    .redes-sociais {
        margin-left: 0;
    }
    .redes-sociais h3 {
        font-size: 12px;
    }
    .privacy-terms {
        margin-left: 0;
    }
    .privacy-terms h3 {
        font-size: 12px;
    }
    #technology {
        flex-wrap: wrap;
        width: 100%;
        height: auto;
        margin-bottom: 20px;
        gap: 30px;
    }
    .box-noticias {
        width: 85%;
        height: auto;
    }
}

@media screen and (min-width: 431px) and (max-width: 768px) {
    body { overflow-x: hidden; }

    .light-theme {
        color: black;
    }
    .dark-theme {
        color: white;
    }
    #menu { 
        width: 100vw;
        gap: 10px; 
        display: flex;
        position: relative;
        text-align: center;
    }
    #menu li a:hover {
        color: var(--color-white);
    }
    #menu-container {
        display: flex; 
        width: 100%;
        height: auto;
        flex-direction: column;
        margin-top: 15px;
    }
    #themeToggleContainer {
        margin-top: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        margin-top: 10px;
    }
    #container-options {
        display: flex;
        width: 100%;
        height: auto;
    }
    #options {
        display: flex;
        width: 90%;
        gap: 10px;
        margin-top: 15px;
    }
    .options-card {
        margin-bottom: 20px;
    }
    .grid2 {
        flex-basis: 100%;
    }
    .options-card a:hover {
        text-decoration: none;
        background-color: rgb(3, 161, 3);
    }
    #container {
        width: 100%;
    }
    #container img {
        width: 150px;
        height: 150px;
        box-shadow: 0px 0px 40px 0px black;
        animation: pulsar 5s infinite;
        float: left;
        margin-left: 0;
        margin-top: 20px;
    }
    #container span {
        margin-left: 0px;
        text-align: justify;
        font-size: 12px;
        margin-top: 40px;
    }
    .content {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    }
    
    .content span {
        width: 90%;
    }
    #privacy {
        width: 100%;
        height: auto;
        gap: 20px;
    }
    #privacy img {
        width: 50px;
        height: 50px;
        margin-left: 0px;
        display: flex;
        justify-content: center;
        display: none;
    }
    .my-logo {
        margin-left: 0px;
    }
    .map-page {
        margin-left: 0px;
        display: none;
    }
    .support {
        margin-left: 0;
    }
    .support h3 {
        font-size: 12px;
    }
    .redes-sociais {
        margin-left: 0;
    }
    .redes-sociais h3 {
        font-size: 12px;
    }
    .privacy-terms {
        margin-left: 0;
    }
    .privacy-terms h3 {
        font-size: 12px;
    }
    #technology {
        width: 100%;
        height: auto;
        margin-bottom: 20px;
        gap: 10px;
        display: flex;
    }
    .box-noticias {
        width: 30%;
        height: auto;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    body { overflow-x: hidden; }

    #menu { 
        width: 100vw;
        gap: 10px; 
        display: flex;
        position: relative;
        text-align: center;
    }
    #menu li a:hover {
        color: var(--color-white);
    }
    #menu-container {
        display: flex; 
        width: 100%;
        height: auto;
        flex-direction: column;
        margin-top: 15px;
    }
    #themeToggleContainer {
        margin-top: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        margin-top: 10px;
    }
    #container-options {
        display: flex;
        width: 100%;
        height: auto;
    }
    #options {
        display: flex;
        width: 90%;
        gap: 10px;
        margin-top: 15px;
    }
    .options-card {
        margin-bottom: 20px;
    }
    .grid2 {
        flex-basis: 100%;
    }
    .options-card a:hover {
        text-decoration: none;
        background-color: rgb(3, 161, 3);
    }
    #container {
        width: 100%;
    }
    #container img {
        width: 250px;
        height: 250px;
        box-shadow: 0px 0px 40px 0px black;
        animation: pulsar 5s infinite;
        float: left;
        margin-left: 0;
        margin-top: 20px;
    }
    #container span {
        margin-left: 0px;
        text-align: justify;
        font-size: 14px;
        margin-top: 40px;
    }
    .content {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    }
    
    .content span {
        width: 90%;
    }
    #privacy {
        width: 100%;
        height: auto;
        gap: 20px;
    }
    #privacy img {
        width: 50px;
        height: 50px;
        margin-left: 0px;
        display: flex;
        justify-content: center;
        display: none;
    }
    .my-logo {
        margin-left: 0px;
    }
    .map-page {
        margin-left: 0px;
        display: none;
    }
    .support {
        margin-left: 0;
    }
    .support h3 {
        font-size: 12px;
    }
    .redes-sociais {
        margin-left: 0;
    }
    .redes-sociais h3 {
        font-size: 12px;
    }
    .privacy-terms {
        margin-left: 0;
    }
    .privacy-terms h3 {
        font-size: 12px;
    }
    #technology {
        width: 100%;
        height: auto;
        margin-bottom: 20px;
        gap: 10px;
        display: flex;
    }
    .box-noticias {
        width: 30%;
        height: auto;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1200px) {
    body { overflow-x: hidden; }

    #menu { 
        width: 100vw;
        gap: 10px; 
        display: flex;
        position: relative;
        text-align: center;
    }
    #menu li a:hover {
        color: var(--color-white);
    }
    #menu-container {
        display: flex; 
        width: 100%;
        height: auto;
        flex-direction: column;
        margin-top: 15px;
    }
    #themeToggleContainer {
        margin-top: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        margin-top: 10px;
    }
    #container-options {
        display: flex;
        width: 100%;
        height: auto;
    }
    #options {
        display: flex;
        width: 90%;
        gap: 10px;
        margin-top: 15px;
        margin-bottom: 20px;
    }
    .options-card {
        margin-bottom: 20px;
    }
    .grid2 {
        flex-basis: 100%;
    }
    .options-card a:hover {
        text-decoration: none;
        background-color: rgb(3, 161, 3);
    }
    #container {
        width: 100%;
    }
    #container img {
        width: 250px;
        height: 250px;
        box-shadow: 0px 0px 40px 0px black;
        animation: pulsar 5s infinite;
        float: left;
        
        margin-top: 20px;
    }
    #container span {
        margin-left: 0px;
        text-align: justify;
        font-size: 14px;
        margin-top: 40px;
        width: 80%;
    }
    .content {
        display: flex;
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    }
    .content span {
        width: 90%;
    }
    #privacy {
        width: 100%;
        height: auto;
        gap: 20px;
    }
    #privacy img {
        width: 50px;
        height: 50px;
        margin-left: 0px;
        display: flex;
        justify-content: center;
        display: none;
    }
    .my-logo {
        margin-left: 0px;
    }
    .map-page {
        margin-left: 0px;
        display: none;
    }
    .support {
        margin-left: 0;
    }
    .support h3 {
        font-size: 12px;
    }
    .redes-sociais {
        margin-left: 0;
    }
    .redes-sociais h3 {
        font-size: 12px;
    }
    .privacy-terms {
        margin-left: 0;
    }
    .privacy-terms h3 {
        font-size: 12px;
    }
    #technology {
        width: 100%;
        height: auto;
        margin-bottom: 20px;
        gap: 10px;
        display: flex;
    }
    .box-noticias {
        width: 30%;
        height: auto;
    }
}