* {
    padding: 0;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background-color: var(--color-background);
    color: var(--color-text);
    transition: background-color 0.3s ease, color 0.3s ease;
}

:root {
    --color-blue: #007bff;
    --color-black: #000000;
    --color-white: #ffffff;
    --color-background: black;
    --color-text: white;
}

html:lang(pt) ul li a {
    font-size: 12px; /* tamanho reduzido para traduções */
}

.light-theme {
    --color-background: white;
    --color-text: black;
}
/* Tema Escuro */
.dark-theme {
    --color-background: black;
    --color-text: white;
}

/* Ícones SVG */
.icon-theme path {
    fill: var(--color-text); /* A cor do ícone será a cor do texto do tema */
}

/* Outros estilos para o SVG, caso necessário */
.icon-theme svg {
    transition: fill 0.3s ease; /* Adiciona uma transição suave para a mudança de cor */
}


#menu-container {
    display: flex;
    align-items: center;
    background-color: var(--color-background);
    height: 5vh;
    justify-content: space-between; /* Distribui o espaço entre o menu e o botão */
}

#menu {
    display: flex;
    gap: 50px;
    justify-content: center;
    flex-grow: 1;
    list-style-type: none;
    margin: 0;
    height: 5dvh;
    align-items: center;
}

#menu li a {
    text-decoration: none;
    color: var(--color-text);
    font-family: "Sora", sans-serif;
    font-size: 14px;
}

#menu li a:hover {
    color: var(--color-blue);
    transition: 0.4s ease-in-out;
}

#themeToggleContainer {
    position: relative;
    width: 60px;
    height: 30px;
    border-radius: 20px;
    background-color: var(--color-text);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: auto;
    margin-right: 150px;
}
.light-them {
    margin-right: 150px;
}

#themeToggle {
    position: absolute;
    width: 28px;
    height: 26px;
    border-radius: 50%;
    border: 1px solid transparent;
    background-color: white;
    left: 2px;
    transition: left 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

#themeToggle .icon-sun,
#themeToggle .icon-moon {
    font-size: 18px;
    display: none;
}

#themeToggleContainer.light-theme {
    background-color: white;
}

#themeToggleContainer.light-theme #themeToggle {
    left: 30px;
}

#themeToggleContainer.light-theme .icon-sun {
    display: block;
}

#themeToggleContainer .icon-moon {
    display: block;
}

#container h1 {
    margin-top: 30px;
    font-family: "Sora", sans-serif;
    font-size: 20px;
    text-align: center;
}

.content {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    margin-top: 20px;
    width: 100%;
    height: 370px;
    align-items: center;
}

.content img {
    align-self: center;
    max-width: 100%;
    height: auto;
}
.content span {
    margin-top: 20px;
    font-family: "Sora", sans-serif;
    font-size: 14px;
    width: 50%;
}

#container img {
    width: 350px;
    height: 350px;
    margin-left: 200px;
    border-radius: 100%;
    box-shadow: 0px 0px 50px 10px black;
    animation: pulsar 5s infinite;
}
@keyframes pulsar {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }

}

#container span {
    display: block;
    margin-left: 60px;
}

#container-options {
    width: 100%;
    height: 250px;
    margin-top: 10px;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}
#options {
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
}
.options-card {
    display: grid;
    justify-items: center;
    align-items: center;
    text-align: center;
    width: 200px;
    height: 200px;
}

.options-card a {
    width: 150px;
    height: 30px;
    background-color: rgb(3, 161, 3);
    margin-top: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family: "Sora", sans-serif;
    font-size: 12px;
    transition: 0.4s ease;
    color: white;
}

.options-card a:hover {
    text-decoration: underline;
    background-color: green;
}
.options-card span {
    font-size: 11px;
    padding: 10px;
    font-family: "Sora", sans-serif;
}

#container-options h1 {
    text-align: center;
    font-family: "Sora", sans-serif;
    font-size: 17px;
}
.grid2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    margin-bottom: 15px;
}

#privacy {
    width: 100%;
    height: 200px;
    justify-content: center;
    display: flex;
}

#privacy img {
    width: 100px;
    height: 100px;
    margin-left: 150px;
    margin-top: 20px;
}
.map-page {
    margin-top: 20px;
    margin-left: 50px;
}
.map-page h3 {
    font-size: 14px;
    margin-bottom: 10px;
    font-family: "Sora", sans-serif;
    color: var(--color-text);
}
.map-page a {
    color: var(--color-text);
    font-family: "Sora", sans-serif;
    font-size: 11px;
    display: flex;
    margin-bottom: 10px;
    text-decoration: none;
    width: 45px;
}
.map-page a:hover {
    text-decoration: underline;
}
.support {
    margin-top: 20px;
    margin-left: 50px;
}
.support h3 {
    font-size: 14px;
    margin-bottom: 10px;
    font-family: "Sora", sans-serif;
    color: var(--color-text);
}
.support a {
    color: var(--color-text);
    font-family: "Sora", sans-serif;
    font-size: 11px;
    display: flex;
    margin-bottom: 10px;
    text-decoration: none;
    width: 90px;
}
.support a:hover {
    text-decoration: underline;
}
.redes-sociais {
    margin-top: 20px;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.redes-sociais h3 {
    font-size: 14px;
    font-family: "Sora", sans-serif;
    color: var(--color-text);
}
.redes-sociais a {
    color: var(--color-text);
    font-family: "Sora", sans-serif;
    font-size: 11px;
    display: flex;
    text-decoration: none;
    width: 45px;
}
.privacy-terms {
    margin-top: 20px;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.privacy-terms h3 {
    font-size: 14px;
    font-family: "Sora", sans-serif;
    color: var(--color-text);
}
.privacy-terms a {
    color: var(--color-text);
    font-family: "Sora", sans-serif;
    font-size: 11px;
    display: flex;
    text-decoration: none;
    width: 90px;
}
.privacy-terms a:hover {
    text-decoration: underline;
}
.redes-sociais a:hover {
    text-decoration: underline;
}




@media screen and (min-width: 321px) and (max-width: 430px) {
    body { overflow-x: hidden; }

    #menu { 
        width: 100vw;
        gap: 10px; 
        margin-top: 20px; 
        text-align: center;
    }
    #menu li a:hover {
        color: var(--color-white);
    }
    #menu-container {
        display: flex; 
        width: 100%;
        height: 12vh;
        flex-direction: column;
    }
    #themeToggleContainer {
        margin-top: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
    #container-options {
        display: flex;
        width: 100%;
        height: auto;
    }
    #options {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        margin-top: 15px;
    }
    .options-card {
        margin-bottom: 10px;
    }
    .grid2 {
        flex-basis: 100%;
    }
    .options-card a:hover {
        text-decoration: none;
        background-color: rgb(3, 161, 3);
    }
    #container {
        width: 100%;
    }
    #container img {
        width: 150px;
        height: 150px;
        box-shadow: 0px 0px 40px 0px black;
        animation: pulsar 5s infinite;
        float: left;
        margin-left: 0;
        margin-top: 20px;
    }
    #container span {
        margin-left: 0px;
        text-align: justify;
        font-size: 12px;
        margin-top: 40px;
    }
    .content {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
    }
    .content span {
        width: 90%;
    }
    #privacy {
        width: 100%;
        height: auto;
        gap: 20px;
    }
    #privacy img {
        width: 50px;
        height: 50px;
        margin-left: 0px;
        display: flex;
        justify-content: center;
        display: none;
    }
    .my-logo {
        margin-left: 0px;
    }
    .map-page {
        margin-left: 0px;
        display: none;
    }
    .support {
        margin-left: 0;
    }
    .support h3 {
        font-size: 12px;
    }
    .redes-sociais {
        margin-left: 0;
    }
    .redes-sociais h3 {
        font-size: 12px;
    }
    .privacy-terms {
        margin-left: 0;
    }
    .privacy-terms h3 {
        font-size: 12px;
    }
    
}