* {
    padding: 0;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100vh;
    margin: 0; 
    background-color: #f0f0f0;
    text-rendering: optimizeLegibility; /* Melhora a legibilidade e suaviza as fontes */
}

html {
    scroll-behavior: smooth;
    font-smoothing: antialiased; /* Para navegadores como o Safari */
}

#form-container {
    width: 400px;
    height: auto;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(63, 63, 63, 0.137);
    border-radius: 10px;
    font-family: "Sora", sans-serif;
}

h2 {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 20px;
    font-family: "Sora", sans-serif;
    font-size: 20px;
}

.form-row {
    padding: 10px;
    display: grid;
}

.input-field {
    font-family: "Sora", sans-serif;
    height: 20px;
    border: 2px solid transparent; 
    outline: none;
    padding: 7px;
    border-radius: 5px;
}

.input-field:hover {
    border: 2px solid #3b5998; 
    border-radius: 5px;
}



#options-select {
    height: 30px;
    border-radius: 5px;
    border: 0px solid;
    cursor: pointer;
    border: 2px solid transparent;
}
#options-select:hover {
    border: 2px solid #3b5998; 
    border-radius: 5px;
}


select {
    border: 0px solid;
    outline: none;
    cursor: pointer;
    font-family: "Sora", sans-serif;
}

option {
    border: 0px solid;
    outline: none;
    cursor: pointer;
    font-family: "Sora", sans-serif;
}

span {
    font-size: 11px;
    color: rgba(36, 35, 35, 0.514);
    margin-top: 5px;
    font-family: "Sora", sans-serif;
}

p {
    margin-bottom: 10px;
    font-family: "Sora", sans-serif;
    font-size: 14px;
}

.checkbox-container {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    padding: 3px;
}
.checkbox {
    transform: scale(1.2);
    cursor: pointer;
}
.input-container {
    width: 100%;
}

.input-field-ddd {
    font-family: "Sora", sans-serif;
    height: 20px;
    width: 14%;
    border: 2px solid transparent;
    outline: none;
    padding: 7px;
    border-radius: 5px;
}
.input-field-ddd:hover {
    border: 2px solid #3b5998; 
    border-radius: 5px;
}
.input-field-number{
    font-family: "Sora", sans-serif;
    height: 20px;
    width: 75%;
    border: 2px solid transparent;
    outline: none;
    padding: 7px;
    border-radius: 5px;
}
.input-field-number:hover {
    border: 2px solid #3b5998; 
    border-radius: 5px;
}

.checkbox-container label {
    font-size: 12px;
    margin-left: 10px; 
    font-family: "Sora", sans-serif;
}

#message-field {
    float: right;
    font-family: "Sora", sans-serif;
    font-size: 12px;
    outline: none;
    border-radius: 5px;
    border: 0px solid;
    padding: 7px;
}

#submit-button {
    height: 30px;
    width: 250px;
    margin: auto;
    background-color: rgb(51, 173, 51);
    border: 0px;
    border-radius: 5px;
    color: white;
    font-weight: 500;
    cursor: pointer;
    transition: 0.4s ease;
}
#submit-button:hover {
    background-color: rgb(45, 146, 45)
}






@media screen and (min-width: 321px) and (max-width: 430px) {
    body {
        overflow-x: hidden;
        height: 100%;
        margin: 0;
        padding: 0;
    }

    #form-container {
        width: 90%;
        height: auto;
        margin-top: 20px;
    }

    .input-field,
    .input-field-ddd,
    .input-field-number,
    #options-select,
    #submit-button {
        box-sizing: border-box;
        font-size: 16px; /* Previne o zoom no iOS */
    }

    .input-field {
        height: 35px;
    }

    .input-field-ddd {
        height: 35px;
        width: 25%;
    }

    .input-field-number {
        height: 35px;
        width: 73%;
    }

    #options-select {
        height: 30px;
    }

    #submit-button {
        height: 35px;
        font-size: 16px; /* Certifique-se de que seja 16px */
    }

    .form-row label {
        font-size: 16px; /* Adiciona consistência no zoom */
    }

    #privacy {
        width: 100%;
        height: auto;
        gap: 20px;
        border-top: 1px solid rgba(0, 0, 0, 0.151);
    }
    #privacy img {
        width: 50px;
        height: 50px;
        margin-left: 0px;
        display: flex;
        justify-content: center;
        display: none;
    }
    .my-logo {
        margin-left: 0px;
    }
    .map-page {
        margin-left: 0px;
        display: none;
    }
    .support {
        margin-left: 0;
    }
    .support h3 {
        font-size: 12px;
    }
    .redes-sociais {
        margin-left: 0;
    }
    .redes-sociais h3 {
        font-size: 12px;
    }
    .privacy-terms {
        margin-left: 0;
    }
    .privacy-terms h3 {
        font-size: 12px;
    }

@media screen and (min-width: 431px) and (max-width: 768px) {
    body { overflow-x: hidden; }

    #privacy {
        width: 100%;
        height: auto;
        gap: 20px;
    }
    #privacy img {
        width: 50px;
        height: 50px;
        margin-left: 0px;
        display: flex;
        justify-content: center;
        display: none;
    }
    .my-logo {
        margin-left: 0px;
    }
    .map-page {
        margin-left: 0px;
        display: none;
    }
    .support {
        margin-left: 0;
    }
    .support h3 {
        font-size: 12px;
    }
    .redes-sociais {
        margin-left: 0;
    }
    .redes-sociais h3 {
        font-size: 12px;
    }
    .privacy-terms {
        margin-left: 0;
    }
    .privacy-terms h3 {
        font-size: 12px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    body { overflow-x: hidden; }

    #privacy {
        width: 100%;
        height: auto;
        gap: 20px;
    }
    #privacy img {
        width: 50px;
        height: 50px;
        margin-left: 0px;
        display: flex;
        justify-content: center;
    }
    .my-logo {
        margin-left: 0px;
    }
    .map-page {
        margin-left: 0px;
    }
    .support {
        margin-left: 0;
    }
    .support h3 {
        font-size: 12px;
    }
    .redes-sociais {
        margin-left: 0;
    }
    .redes-sociais h3 {
        font-size: 12px;
    }
    .privacy-terms {
        margin-left: 0;
    }
    .privacy-terms h3 {
        font-size: 12px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1200px) {
    body { overflow-x: hidden; }

    #privacy {
        width: 100%;
        height: auto;
        gap: 20px;
    }
    #privacy img {
        width: 50px;
        height: 50px;
        margin-left: 0px;
        display: flex;
        justify-content: center;
    }
    .my-logo {
        margin-left: 0px;
    }
    .map-page {
        margin-left: 0px;
    }
    .support {
        margin-left: 0;
    }
    .support h3 {
        font-size: 12px;
    }
    .redes-sociais {
        margin-left: 0;
    }
    .redes-sociais h3 {
        font-size: 12px;
    }
    .privacy-terms {
        margin-left: 0;
    }
    .privacy-terms h3 {
        font-size: 12px;
    }
}
}