* {
    padding: 0;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    text-rendering: optimizeLegibility; /* Melhora a legibilidade e suaviza as fontes */
}

html {
    scroll-behavior: smooth;
    font-smoothing: antialiased; /* Para navegadores como o Safari */
}

:root {
    --color-blue: #007bff;
    --color-black: #000000;
    --color-white: #ffffff;
    --color-background: black;
    --color-text: white;
}

html:lang(pt) ul li a {
    font-size: 12px; /* tamanho reduzido para traduções */
}

#menu-container {
    display: flex;
    align-items: center;
    height: 5vh;
    justify-content: space-between;
    justify-content: center;
}

#menu {
    display: flex;
    gap: 50px;
    justify-content: center;
    flex-grow: 1;
    list-style-type: none;
    margin: 0;
    height: 5dvh;
    align-items: center;
    position: absolute;
    margin-top: 0;
}
#menu li a {
    text-decoration: none;
    color: black;
    font-family: "Sora", sans-serif;
    font-size: 14px;
}
#menu li a:hover {
    color: var(--color-blue);
    transition: 0.4s ease-in-out;
}
#container {
    width: 100%;
    height: auto;
    display: flex;
    margin-top: 50px;
    font-family: "Sora", sans-serif;
}
.content {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    margin-left: 50px;
}
.content h1 {
    font-size: 25px;
    margin-left: 30px;
}
.content p {
    font-size: 14px;
    width: 90%;
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 15px;
}
.photo {
    width: 50%;
    margin-right: auto;
    display: flex;
    justify-content: center;
}
.photo img {
    width: 500px;
    height: 500px;
    margin-top: 30px;
    border-radius: 50%;
}
#shop {
    width: 100%;
    height: auto;
    font-family: "Sora", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#shop h1 {
    font-size: 20px;
    
}
#shop p {
    width: 50%;
    margin-top: 30px;
    font-size: 14px;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
}
#books {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Sora", sans-serif;
}
#books h3 {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
#my-books {
    width: 60%;
    height: 100%;
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
    flex-wrap: wrap;
}

.options-books {
    width: 170px;
    height: 330px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 10px;
    border-radius: 5px;
    margin-bottom: 50px;
    padding: 2px;
    position: relative;
}
.options-books img {
    width: 170px;
    height: 250px;
    border-radius: 5px;
    
}
.options-books span {
    line-height: 18px;
    margin-bottom: 5px;
    font-size: 12px;
    margin-top: 5px;
}
.options-books a {
    font-size: 14px;
    padding: 5px 20px;
    background-color: rgb(0, 163, 0);
    color: white;
    text-decoration: none;
    border-radius: 4px;
    transition: 0.5s ease;
    font-weight: 300;
    position: absolute;
    bottom: 0;
    margin-bottom: 5px;
}
.options-books a:hover {
    background-color: rgb(8, 180, 8);
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.modal-content {
    background-color: white;
    padding: 25px;
    border-radius: 10px;
    width: 400px;
    height: auto;
    text-align: center;
    position: relative; /* Para posicionar o botão de fechar */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    text-align: justify;
    word-spacing: normal;
    letter-spacing: normal;
    hyphens: auto;
}
#modal-description {
    margin-bottom: 15px;
}
.buy {
    display: flex;
    justify-content: center;
    width: 120px;
    height: 30px;
    margin: auto;
    text-decoration: none;
    border-radius: 5px;
    color: white;
    font-weight: 300;
    align-items: center;
    background-color: green;
}
.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    font-size: 24px;
    color: black;
    cursor: pointer;
}
#modal-title {
    text-align: center;
    margin-bottom: 10px;
}
#modal-description {
    font-size: 16px;
}

/* Estilo para o modal */
.modalupgrade {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: none; /* O modal ficará escondido inicialmente */
    justify-content: center;
    align-items: center;
    z-index: 9999;
}


.modalupgradebox {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
    height: 380px;
}
.modalupgradebox h2 {
    font-family: "Sora", sans-serif;
    font-size: 17px;
    margin-bottom: 15px;
}
.modalupgradebox p {
    font-family: "Sora", sans-serif;
    font-size: 13px;
    hyphens: auto;
    text-align: justify;
    word-spacing: normal;
    letter-spacing: normal;
    margin-bottom: 15px;
}

#update-btn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#update-btn:hover {
    background-color: #45a049;
}

/* Modal de Carregamento */
.loading-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Fundo semitransparente */
    display: none; /* Inicialmente invisível */
    justify-content: center;
    align-items: center;
    color: white;
    z-index: 9999; /* Garantir que o modal fique acima de outros elementos */
}

.loading-box {
    text-align: center;
    padding: 20px;
    background-color: white; /* Fundo escuro para melhor contraste */
    border-radius: 10px;
    width: 80%;
    max-width: 400px;
    color: black;
    font-family: "Sora", sans-serif;
}

.loading-box h2 {
    font-size: 20px;
}

#loading-steps p {
    margin: 10px 0;
    font-size: 14px;
    line-height: 10px;
}

.progress {
    padding-left: 5px; /* Pequeno espaço à esquerda */
    display: inline-block; /* Isso ajuda a manter o layout consistente */
    min-width: 40px; /* Ajuste o valor conforme necessário */
    text-align: right; /* Alinha o texto à direita */
}
.progress-success {
    color: green; /* Define a cor verde */
    font-weight: 600;
}


#loading-progress {
    font-size: 15px;
}

.success {
    color: #4CAF50; /* Cor verde para sucesso */
    margin-left: 10px;
}

#progress-percentage {
    font-weight: bold;
}


#privacy {
    width: 100%;
    justify-content: center;
    display: flex;
}

#privacy img {
    width: 60px;
    height: 60px;
    margin-left: 150px;
    margin-top: 40px;
}
.map-page {
    margin-top: 20px;
    margin-left: 50px;
}
.map-page h3 {
    font-size: 14px;
    margin-bottom: 10px;
    font-family: "Sora", sans-serif;
    color: black;
}
.map-page a {
    color: black;
    font-family: "Sora", sans-serif;
    font-size: 11px;
    display: flex;
    margin-bottom: 10px;
    text-decoration: none;
    width: 45px;
    position: relative;
    width: fit-content;
}
.map-page a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    background-color: black; 
    width: 0;
    transition: width 0.5s ease;
}
.map-page a:hover::after {
    width: 100%;
}
.support {
    margin-top: 20px;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
}
.support h3 {
    font-size: 14px;
    margin-bottom: 10px;
    font-family: "Sora", sans-serif;
    color: black;
}
.support a {
    color: black;
    font-family: "Sora", sans-serif;
    font-size: 11px;
    display: inline-block; 
    margin-bottom: 10px;
    text-decoration: none;
    position: relative;
    width: fit-content;
}

.support a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    background-color: black; 
    width: 0;
    transition: width 0.5s ease;
}

.support a:hover::after {
    width: 100%;
}

.redes-sociais {
    margin-top: 20px;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.redes-sociais h3 {
    font-size: 14px;
    font-family: "Sora", sans-serif;
    color: black;
}
.redes-sociais a {
    color: black;
    font-family: "Sora", sans-serif;
    font-size: 11px;
    text-decoration: none !important; 
    position: relative;
    display: inline-block;
}

.redes-sociais a:hover {
    text-decoration: none !important;
}

.redes-sociais a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    background-color: black; 
    width: 0;
    transition: width 0.5s ease;
}

.redes-sociais a:hover::after {
    width: 100%;
}

.privacy-terms {
    margin-top: 20px;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.privacy-terms h3 {
    font-size: 14px;
    font-family: "Sora", sans-serif;
    color: black;
}
.privacy-terms a {
    color: black;
    font-family: "Sora", sans-serif;
    font-size: 11px;
    display: inline-block;
    text-decoration: none;
    width: 90px;
    position: relative;
    width: fit-content;
}

.privacy-terms a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    background-color: black; 
    width: 0;
    transition: width 0.5s ease;
}

.privacy-terms a:hover::after {
    width: 100%;
}
.redes-sociais a:hover {
    text-decoration: underline;
}
.create-by {
    width: 100%;
    height: 15px;
    bottom: 0;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.create-by p {
    font-size: 10px;
    color: black;
    font-family: "Sora", sans-serif;
}



@media screen and (min-width: 321px) and (max-width: 430px) {
    body { overflow-x: hidden; }

    #menu { 
        width: 100vw;
        gap: 10px; 
        display: flex;
        position: relative;
        text-align: center;
    }
    #menu li a:hover {
        color: black !important; 
        transition: none !important; 
    }
    #menu li a:hover, #menu li a:active {
        color: var(--color-text);
        background-color: transparent;
    }
    #container{
        display: flex;
        flex-direction: column;
    }
    .photo {
        width: 100%;
        height: auto;
    }
    .photo img {
        width: 250px;
        height: 250px;
        margin-bottom: 15px;
    }
    .content {
        width: 100%;
        margin-left: 0;
    }
    .content p {
        text-align: justify;
        width: 85%;
        letter-spacing: normal;
        word-spacing: normal;
        hyphens: auto;
    }
    #menu li a:hover {
        color: var(--color-white);
    }
    #menu-container {
        display: flex; 
        width: 100%;
        height: auto;
        flex-direction: column;
        margin-top: 15px;
    }
    #shop p{
        width: 90%;
        margin-bottom: 15px;
        text-align: justify;
        hyphens: auto;
        word-spacing: normal;
        letter-spacing: normal;
    }
    #my-books {
        width: 100%;
    }
    .options-books {
        width: 180px;
        margin-bottom: 10px;
    }
    .options-books img {
        width: 180px;
    }
    .modal-content {
        width: 70%;
    }
    #modal-title {
        font-size: 18px;
    }
    #modal-description {
        font-size: 14px;
    }
    #privacy {
        width: 100%;
        height: auto;
        gap: 20px;
    }
    #privacy img {
        width: 50px;
        height: 50px;
        margin-left: 0px;
        display: flex;
        justify-content: center;
    }
    .my-logo {
        margin-left: 0px;
    }
    .map-page {
        margin-left: 0px;
        display: none;
    }
    .support {
        margin-left: 0;
    }
    .support h3 {
        font-size: 12px;
    }
    .redes-sociais {
        margin-left: 0;
    }
    .redes-sociais h3 {
        font-size: 12px;
    }
    .privacy-terms {
        margin-left: 0;
    }
    .privacy-terms h3 {
        font-size: 12px;
    }

}

@media screen and (min-width: 431px) and (max-width: 768px) {
    body { overflow-x: hidden; }

    #menu { 
        width: 100vw;
        gap: 10px; 
        display: flex;
        position: relative;
        text-align: center;
    }
    #menu li a:hover {
        color: var(--color-white);
    }
    #menu-container {
        display: flex; 
        width: 100%;
        height: auto;
        flex-direction: column;
        margin-top: 15px;
    }
    #container {
        width: 100%;
        margin-bottom: 15px;
    }
    .photo img {
        width: 350px;
        height: 350px;
    }
    .content {
        width: 100%;
        margin-left: 0;
    }
    .content p {
        width: 90%;
        text-align: justify;
        word-spacing: normal;
        letter-spacing: normal;
        hyphens: auto;
    }
    #shop p {
        width: 95%;
    }
    #my-books {
        width: 95%;
    }
    .options-books {
        width: 190px;
        margin-bottom: 10px;
    }
    .options-books img {
        width: 190px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    body { overflow-x: hidden; }

    #menu { 
        width: 100vw;
        gap: 10px; 
        display: flex;
        position: relative;
        text-align: center;
    }
    #menu li a:hover {
        color: var(--color-white);
    }
    #menu-container {
        display: flex; 
        width: 100%;
        height: auto;
        flex-direction: column;
        margin-top: 15px;
    }
    #container {
        width: 100%;
        margin-bottom: 15px;
    }
    .photo img {
        width: 350px;
        height: 350px;
    }
    .content {
        width: 100%;
        margin-left: 0;
    }
    .content p {
        width: 90%;
        text-align: justify;
        word-spacing: normal;
        letter-spacing: normal;
        hyphens: auto;
    }
    #shop p {
        width: 95%;
    }
    #my-books {
        width: 95%;
    }
    .options-books {
        width: 190px;
        margin-bottom: 10px;
    }
    .options-books img {
        width: 190px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1200px) {
    body { overflow-x: hidden; }

    #menu { 
        width: 100vw;
        gap: 10px; 
        display: flex;
        position: relative;
        text-align: center;
    }
    #menu li a:hover {
        color: var(--color-white);
    }
    #menu-container {
        display: flex; 
        width: 100%;
        height: auto;
        flex-direction: column;
        margin-top: 15px;
    }
}