* {
    padding: 0;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;  
}

body {
    text-rendering: optimizeLegibility; /* Melhora a legibilidade e suaviza as fontes */
}

html {
    scroll-behavior: smooth;
    font-smoothing: antialiased; /* Para navegadores como o Safari */
}

:root {
    --color-blue: #007bff;
    --color-black: #000000;
    --color-white: #ffffff;
    --color-background: black;
    --color-text: white;
}
#container {
    width: 100%;
    height: auto;
    background-color: red;
    flex-wrap: wrap;
    display: flex;
}
.content {
    width: 100%;
    height: auto;
    background-color: blue;
    display: flex;
    flex-wrap: wrap;
}
.widget1 {
    width: 50%;
    height: 500px;
    background-color: rgb(60, 255, 0);
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    font-family: "Sora", sans-serif;
}
